.DS_Store
.idea/
build/
examples/__pycache__/
examples/CIFAR10/.DS_Store
examples/CIFAR10/__pycache__/
examples/CIFAR10/datasets/
examples/CIFAR10/*.png
examples/CIFAR100/.DS_Store
examples/CIFAR100/__pycache__/
examples/CIFAR100/datasets/
examples/CIFAR100/*.png
examples/MNIST/.DS_Store
examples/MNIST/__pycache__/
examples/MNIST/datasets/
examples/MNIST/*.png
examples/graduate_admission/__pycache__/
examples/graduate_admission/datasets/
examples/graduate_admission/*.png
AADL/__pycache__/
utils/.DS_Store
utils/__pycache__/
model_zoo/__pycache__/

